$white: #fff
$black: #454851
$black-title: #171d1c
$gray: #999999
$light-gray: #d8d8d8
$red: #f31131
$color-bg: #ecf0f1
$font-Raleway: 'Raleway', sans-serif

html
    font-size: 10px

html,
body
    padding: 0
    margin: 0
    background-color: $color-bg

.section
    margin-top: 100px

.container
    max-width: 1140px 
    margin: 0 auto

.container-fluid
    max-width: 1366px 
    margin: 0 auto
    
.header-section
    &__title
        font-size: 4.8rem
        color: $black-title

    &__title,
    &__separator
        text-align: center
        margin-bottom: 30px

.text // Used in section "holiday" and "why-we"
    font-size: 1.6rem
    font-family: $font-Raleway
    color: $black
    line-height: 22px
