.footer
    height: 300px

.footer__links
    background-color: #171d1c
    display: flex
    justify-content: space-between
    font-family: Verdana
    color: #ffffff
    font-size: 14px
    font-weight: 400
    flex-basis: 200px
    padding: 20px 180px 20px 115px
    line-height: 25px
    letter-spacing: 0.8px

.footer__menu
    display: flex
    justify-content: space-between
    flex-basis: 700px 
    
.footer__links li:not(.footer-menu__title)
    opacity: 0.7
    
.footer__contacts
    text-align: right

.footer__links li
    list-style-type: none

.footer__links ul
    padding: 0

.footer-menu__title
    font-weight: 600

.footer__contacts
