// Header

.nav
    font-family: $font-Raleway

    &__list
        display: flex
        justify-content: space-around
        align-items: center 
        padding: 0

    &__item
        padding: 10px
        list-style: none
        font-size: 1.6rem
        text-transform: uppercase
        font-weight: 600

    &__link   
        color: $black
        text-decoration: none
    
    &__link:hover 
        color: $black
        text-decoration: none    
    
// .Header