.why-we__items
    display: grid
    grid-gap: 60px
    grid-template-columns: 1fr 1fr 1fr

.why-we__item

.why-we__icon
    width: 100px
    height: 100px
    text-align: center
    background-color: #0f9c54
    margin: 0 auto
    border-radius: 100%
    margin-bottom: 25px

.why-we__title
    color: #171d1c
    font-size: 24px
    font-weight: 600
    text-align: center

.why-we__text
    color: #454851
    font-size: 16px
    font-weight: 300
    line-height: 22px
    text-align: center

.why-we__icon--first
    background: url("../img/first.png") no-repeat 50%, #0f9c54
        
.why-we__icon--second
    background: url("../img/second.png") no-repeat 50%, #0f9c54

.why-we__icon--third
    background: url("../img/third.png") no-repeat 50%, #0f9c54