html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
}

.section {
  margin-top: 100px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1366px;
  margin: 0 auto;
}

.header-section__title {
  font-size: 4.8rem;
}

.header-section__title, .header-section__separator {
  text-align: center;
  margin-bottom: 30px;
}

.nav {
  font-family: "Raleway", sans-serif;
  padding: 5px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav__item {
  padding: 10px;
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__link {
  color: #454851;
  text-decoration: none;
}

.nav__link:hover {
  color: #454851;
  text-decoration: none;
}

.welcome__container {
  height: 690px;
  background: url("../img/bg.png") no-repeat;
  background-position: 100% 40%;
  margin-bottom: 150px;
}

.welcome {
  font-family: "Raleway", sans-serif;
}

.welcome__title {
  margin: 0 auto;
  padding-top: 320px;
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.welcome__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 220px;
  max-width: 970px;
  height: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 40px;
}

.welcome__input, .welcome__select {
  width: 190px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 400;
  font-size: 1.6rem;
  color: #454851;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.6;
}

.welcome__select:hover, .welcome__input:focus, .welcome__input:active, .welcome__input:hover {
  border-bottom: 1px solid #454851;
  color: #454851;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.welcome__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  color: #fff;
  background-color: #f31131;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome__btn:hover {
  background-color: #c70a25;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome__btn:focus, .welcome__btn:active {
  outline: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

select,
[type="date"] {
  background: #fff url("../img/dropdown.png") 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.vacation__types {
  display: inline-block;
}

.vacation__type {
  width: 360px;
  height: 300px;
  background-color: yellow;
  float: left;
  margin-right: 30px;
}

.vacation__type:last-child {
  margin-right: 0;
}

.vacation__type--beach {
  background: url("../img/beach.png");
  background-size: cover;
  background-position: 50% 50%;
}

.vacation__type--group {
  background: url("../img/group.png");
  background-size: cover;
  background-position: 50% 50%;
}

.vacation__type--city {
  background: url("../img/city.png");
  background-size: cover;
  background-position: 50% 50%;
}

.vacation-type__inner {
  width: 300px;
  height: 100px;
  padding: 15px 15px;
  margin: 0 auto;
  margin-top: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.vacation-type__text {
  margin: 0;
  padding: 20px 10px;
  font-size: 2.4rem;
  border: 1px solid #cccccc;
  text-align: center;
  font-weight: 600;
  color: #454851;
}

.holiday__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.holiday-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 555px;
  background-color: #fff;
}

.holiday-item__images {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img-1 img-1 img-1" "img-2 img-3 img-4";
}

.holiday-item__image--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img-1;
  width: 279px;
  height: 230px;
}

.holiday-item__image--2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-2;
  width: 93px;
  height: 70px;
}

.holiday-item__image--3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-3;
  width: 93px;
  height: 70px;
}

.holiday-item__image--4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img-4;
  width: 93px;
  height: 70px;
}

.holiday-item__title {
  margin: 30px 30px 20px 20px;
  font-size: 3rem;
}

.holiday-item__text {
  margin: 0px 30px 20px 20px;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

.holiday-item__services {
  margin: 20px 30px 25px 20px;
}

.holiday-item__service {
  margin-right: 20px;
  display: inline-block;
}

.holiday-item__number {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: #454851;
  font-size: 14px;
  font-weight: 600;
}

.holiday__btn {
  margin-left: 20px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f31131;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

.why-we__items {
  display: -ms-grid;
  display: grid;
  grid-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.why-we__icon {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #0f9c54;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 25px;
}

.why-we__title {
  color: #171d1c;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.why-we__text {
  color: #454851;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}

.why-we__icon--first {
  background: url("../img/first.png") no-repeat 50%, #0f9c54;
}

.why-we__icon--second {
  background: url("../img/second.png") no-repeat 50%, #0f9c54;
}

.why-we__icon--third {
  background: url("../img/third.png") no-repeat 50%, #0f9c54;
}

.message__container {
  background: url("../img/message_bg.png") no-repeat;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 311px;
  height: 320px;
  background-color: #ffffff;
  margin-right: 180px;
  padding: 40px;
}

.message__title {
  margin-top: 0;
  color: #1a1a1a;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}

.message__input {
  height: 16px;
  margin-bottom: 20px;
  color: #999999;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.message__btn {
  font-family: Verdana;
  margin-top: auto;
  width: 97px;
  height: 41px;
  background-color: #f31131;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

* {
  outline: 1px solid red;
}

.footer {
  height: 300px;
}

.footer__links {
  background-color: #171d1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Verdana;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  padding: 20px 180px 20px 115px;
  line-height: 25px;
  letter-spacing: 0.8px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
}

.footer__links li:not(.footer-menu__title) {
  opacity: 0.7;
}

.footer__contacts {
  text-align: right;
}

.footer__links li {
  list-style-type: none;
}

.footer__links ul {
  padding: 0;
}

.footer-menu__title {
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */